<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Opinionated Quotes API is a free JSON REST API of carefully selected quotes on a variety of topics.">
    <meta name="keywords" content="quotes,free,API,REST,JSON,documentation,random,coding">
    <meta name="author" content="Alexandr Nil">
		<meta property="og:url"                content="https://opinionated-quotes-api.gigalixirapp.com/" />
		<meta property="og:type"               content="website" />
		<meta property="og:title"              content="Opinionated Quotes API" />
		<meta property="og:description"        content="Opinionated Quotes API is a free JSON REST API of carefully selected quotes on a variety of topics." />
    <title>Opinionated Quotes API</title>
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/main.css") %>">
  </head>

  <body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
      <div class="navbar-brand">
        <a href="<%= page_path(@conn, :index) %>" class="navbar-item title is-4">Opinionated Quotes API</a>
      </div>
    </nav>
    <%= render @view_module, @view_template, assigns %>
  </body>

  <footer class="footer has-background-black-ter has-text-grey-lighter">
    <div class="has-text-centered">
      <p>
        Want to report a bug or propose a feature? Create an issue in the <a href="https://gitlab.com/AlexandrNil/opinionated-quotes-api/issues" target="_blank" rel="noopener">repo</a>.
      </p>
      <p class="spacey">
        Support the author with Ether <code>0xBb66ec2B43D23E3a3a54305978CcA0F0D0B029Db</code> or bitcoins <code>16YTuJVXQVVP6TibLbPe1GNg8d1saeSB7f</code>. All extra donations go to effective <a href="https://www.effectivealtruism.org/get-involved/give-to-outstanding-charities/" target="_blank" rel="noopener">charities</a>.
      </p>
      <p>
        The source code is <a href="https://gitlab.com/AlexandrNil/opinionated-quotes-api/blob/master/LICENSE" target="_blank" rel="noopener">licensed</a>.
      </p>
    </div>
  </footer>
</html>
