/* style external links */
a[href^="http://"]:not([href*="opinionated-quotes-api."]):after,
a[href^="https://"]:not([href*="opinionated-quotes-api."]):after{
  content: " " url(https://upload.wikimedia.org/wikipedia/commons/6/64/Icon_External_Link.png);
}

footer {
  padding-bottom: 2vmax;
  padding-top: 2.4vmax;
}

pre {
  padding: 1rem;
}

.pre-wrap {
  white-space: pre-wrap;
}

.spacey {
  margin: 1.1em;
}
@media screen and (max-width: 35em) {
  .spacey {
    margin-left: 0;
    margin-right: 0;
  }
}

.table__wrapper {
  overflow-x: auto;
}
